.advert {
    width: 300px;
    height: 250px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.advert__image {
    width: 300px;
    height: auto;
}

.advert__info-container {
    position: absolute;
    cursor: pointer;
    right: -6px;
    bottom: -20px;
}

.advert__info-container > span {
    text-decoration: none;
    color: rgb(85, 85, 85);
    font: 11px 'Amazon Ember Regular', 'Amazon Ember', 'Arial' !important;
}

.advert__info-logo {
    vertical-align: top;
    height: 16px !important;
    margin: 1px 0px;
    margin-left: -4px;
    color: rgb(85, 85, 85);
}