body {
    font-family: 'Amazon Ember',arial,sans-serif;
    font-size: 14px;
}

div {
    display: block;
}

h1 {
    font-size: 1.25rem;
    text-rendering: optimizeLegibility;
}

a {
    color: var(--clr-link);
    cursor: pointer;
}

a:hover {
    color: var(--clr-link-hover);
}