.carousel {
    position: relative;
    width: 1500px;
    height: 600px;
    margin: 0 auto;
}

.carousel__image {
    height: 600px;
    width: 1500px;
    object-fit: cover;
    display: inline-block;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.carousel__track-container {
    position: relative;
    height: 100%;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: 40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__button-chevron {
    height: 250px;
    width: 80px;
    transform: scale(1.5);
}