.carousel {
    position: relative;
    width: 1500px;
    height: 600px;
}

.carousel__image {
    height: 600px;
    width: 1500px;
    object-fit: cover;
    display: inline-block;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.carousel__slide-container {
    position: relative;
    height: 100%;
}

.carousel__slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    background-color: transparent;
    top: 0;
    z-index: 5;
    cursor: pointer;
    border: none;

}

.carousel__button--left {
    left: 0px;
}

.carousel__button--right {
    right: 0px;
}

.carousel__button-chevron {
    height: 250px !important;
    width: 80px !important;
}