@import './constants.css';

.checkout {
    background-color: var(--clr-neutral-300);
    height: 100%;
}

.checkout__grid {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 1.5em;
    padding: 15px;
}

.checkout__grid-item {
    background-color: white;
    border: 1px solid var(--clr-neutral-400);
}

.checkout__grid-item-one {
    
}

.checkout__grid-item-two {
    grid-row: 1/3;
    grid-column-end: 3;
    width: 300px;
    height: 130px;
}

.checkout__grid-item-three {
  
}

.checkout__advert {
    margin: 0 auto;
    display: flex;
    height: fit-content;
    padding: 10px;
}

.checkout__advert-image {
    object-fit: contain;
    padding-right: 20px;
}

.checkout__advert-right {
    line-height: 20px;
}

.checkout__left {
    padding: 20px;

}

.checkout__left-header {
    margin-bottom: 20px;
}

.checkout__left-header-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--clr-neutral-400);
}

.checkout__left-body {

}

.checkout__left-footer {
    margin-top: 10px;
    float: right;
}

.checkout__right {
    padding: 15px;
}

.checkout__right-subtotal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout__button {
    position: relative;
    background-color: var(--clr-primary-200);
    border: 1px solid var(--clr-primary-300);
    border-radius: 7px;
    display: inline-block;
    padding: 0;
    text-decoration: none!important;
    vertical-align: middle;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.checkout__button:hover {
    opacity: 0.8;
}

.checkout__proceed-to-retail-checkout {
    background-color: transparent;
    border: 0;
    padding: 7px 67px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: 0;
}