:root {
    --clr-primary-400: #cd9042;
    --clr-primary-600: #232f3e;
    --clr-link: #007185;
    --clr-link-hover: #e37900;
    --clr-neutral-300: #EAEDED;
    --clr-neutral-400: #ddd;
    --clr-neutral-600: #555;
    --clr-neutral-900: #000;
}