@import './constants.css';

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-main {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--clr-neutral-900);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-main__logo {
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 5px 20px;
}

.navbar-main__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.navbar-main__search-input {
    height: 22px;
    padding: 5px;
    border: none;
    width: 100%;
}

.navbar-main__search-icon {
    padding: 5px;
    height: 22px !important;
    background-color: var(--clr-primary-400);
}

.navbar-main__nav {
    display: flex;
    justify-content: space-evenly;
}

.navbar-main__option {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    color: white;
}

.navbar-main__option-basket {
    display: flex;
    align-items: center;
    color: white;
}

.navbar-main__option-line-one {
    font-size: 10px;
}

.navbar-main__option-line-two {
    font-size: 13px;
    font-weight: 800;
}

.navbar-main__basket-count {
    margin: 0px 10px;
}

.navbar-shop {
    display: flex;
    background-color: var(--clr-primary-600);
    flex-direction: row;
    width: 100%;
    height: 39px;
    overflow: hidden;
}

.navbar-shop__left {
    display: flex;
    background-color: var(--clr-primary-600);
    flex-direction: row;
}

.navbar-shop__option {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 7px 0px;
    color: white;
    cursor: pointer;
}

.navbar-shop__option-text {
    display: inline-block;
    padding: 5px 10px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
}

.navbar-shop__option:hover {
    outline: 1px solid white;
}

.navbar-shop__list-icon {
    padding: 0px;
}

.navbar-shop__option-one {
    margin-left: 14px;
    padding-left: 5px;
}

.navbar-shop__option-one-text {
    font-weight: 700;
    padding-left: 3px;
}

@media (max-width: 1100px) {
    .navbar-shop__option-one {
        margin-left: 5px;
    }
}
