@import './constants.css';

.home {
    position: relative;
    background-color: var(--clr-neutral-300);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.home__image-container {
    position: absolute;
    top: 0;
    align-items: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.home__image {
    height: 600px;
    width: 1500px;
    object-fit: cover;
    display: inline-block;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.home__grid {
    margin: 250px 15px 0px 15px;
    display: grid;
    z-index: 10;
    grid-template-columns:  repeat(4, 1fr);
    gap: 1em;
    justify-items: stretch;
}

.home__grid-item {

}

.home__grid-item-two,
.home__grid-item-three,
.home__grid-item-five {
    min-width: 260px;
}
