.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.home__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -352px;
}

.home__image {
    height: 600px;
    width: 1500px;
    object-fit: cover;
    display: inline-block;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__container {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.home__grid {
    display: grid;
    z-index: 10;
    grid-template-columns:  repeat(4, 1fr);
    gap: 1em;
    justify-items: stretch;
}

