.home {
    display: flex;
    justify-content: center;
}

.home__image {
    position: absolute;
    height: 600px;
    width: 1500px;
    object-fit: cover;
    vertical-align: top;
    display: inline-block;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__container {
    width: 1500px;
    margin: 0 auto;
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__grid {
    display: grid;
}

