@import './constants.css';

.product {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    z-index: 1;
    background-color: white;
    overflow: hidden;
    min-width: 0;
}

.product__image-container {
    margin: 0 auto;
    margin-bottom: 15px;
}

.product__img {
    max-width: 270px;
    max-height: 140px;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.product__title-container {
    min-width: 0;
    border: 1px solid orange;
    box-sizing: border-box;
}

.product__title-container > span {
    color: red;
}

.product__info-container {
    display: flex;
    min-width: 0;
}

.product__details-container {
    width: auto;
}

.product__ratings-stars-45 {
    height: 16px;
    width: 80px;
    background-image: url(https://images-eu.ssl-images-amazon.com/images/G/02/da/creatives/aui-mini-sprite-2015-02.png);
    background-position: -170px 0px;
}

.product__ratings-count {
    margin-left: 5px;
    color: var(--clr-neutral-600);
    font-size: 12px;
    align-self: center;
}

.product__price-prime-logo {
    margin-top: 1px;
    height: 14px;
    padding: 0px 0px 0px 5px;
}

.product__shop-now-btn {
    background: linear-gradient(rgb(254, 230, 176), rgb(238, 186, 55)) rgb(254, 230, 176);
    align-self: flex-end;
    min-width: 90px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    padding: 4px 0px 0px 0px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(190, 149, 44) rgb(166, 130, 38) rgb(155, 121, 36);
    text-decoration: none;
    overflow: hidden;
    color: currentColor;
    box-shadow: rgb(255 255 255 / 60%) 0px 1px 0px inset;
}

.product__shop-now-btn:hover {
    opacity: 0.8;
}
