.products-s-b__container {
    background-color: white;
    padding: 20px;
}

.products-s-b__header {
    padding-bottom: 20px;
}

.products-s-b__header > h1 {

}

.products-s-b__body {
}

.products-s-b__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    row-gap: 1.5em;
}

.products-s-b__grid-item {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}   

.products-s-b__image {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: none;
}

.products-s-b__grid-item > p {

}

.products-s-b__footer {
    margin-top: 30px;
}