@import './constants.css';

.subtotal {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 70px;
    border-radius: 3px;
}

.subtotal__gift {
    display: flex;
    padding-top: 15px;
    align-items: center;
}

.subtotal__gift > input {
    margin-right: 5px;
}

.subtotal > button {
    background: linear-gradient(rgb(254, 230, 176), rgb(238, 186, 55)) rgb(254, 230, 176);
    align-self: flex-end;
    min-width: 120px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    padding: 4px 0px 4px 0px;
    margin-left: 10px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(190, 149, 44) rgb(166, 130, 38) rgb(155, 121, 36);
    text-decoration: none;
    overflow: hidden;
    color: currentColor;
    box-shadow: rgb(255 255 255 / 60%) 0px 1px 0px inset;
}