@import './constants.css';

.top-links__container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 40px;
}

.top-links__header {
    display: flex;
    flex-direction: row;
}

.top-links__header-profile-image-container {
    padding-right: 20px;
}

.top-links__header-text-container {

}

.top-links__header-text-container > h1 {
    padding-bottom: 5px;
}

.top-links__subtitle {
    padding: 7px 0px 10px 0px;
    font-weight: 700;
}

.top-links__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.top-links__grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-neutral-300);
}

.top-links__grid-item-image-container {
    padding: 10px 0px;
}

.top-links__grid-item-image {
    mix-blend-mode: multiply;
}

.top-links__link-overlay {

}

.top-links__grid-item-label {
    padding-bottom: 10px;
}